.icon-calender{
    background: url('../../img/icon/calender.png') no-repeat center center;
}

.icon-mail{
    background: url('../../img/icon/mail.png') no-repeat center center;
}

.icon-twitter{
    background: url('../../img/icon/twitter.png') no-repeat center center;
}

.icon-facebook{
    background: url('../../img/icon/facebook.png') no-repeat center center;
}

.icon-youtube{
    background: url('../../img/icon/youtube.png') no-repeat center center;
}

.icon-instagram{
    background: url('../../img/icon/instagram.png') no-repeat center center;
}

.icon-indonesia-flag{
    background: url('../../img/icon/indonesia-flag.png') no-repeat center center;
}

.icon-info{
    background: url('../../img/icon/info.png') no-repeat center center;
}

.icon-search{
    background: url('../../img/icon/search.png') no-repeat center center;
}

.icon-book{
    background: url('../../img/icon/book.png') no-repeat center center;
}

.icon-doc{
    background: url('../../img/icon/doc.png') no-repeat center center;
}

.icon-ship{
    background: url('../../img/icon/ship.png') no-repeat center center;
}

.icon-warning{
    background: url('../../img/icon/warning.png') no-repeat center center;
}

.icon-open-book{
    background: url('../../img/icon/open-book.png') no-repeat center center;
}

.icon-small{
    width: 16px;
    height: 16px;
}

.icon-medium{
    width: 20px;
    height: 20px;
}

.icon{
    display: inline-block;
    vertical-align: text-top;
    background-size: contain;
}


