@import "assets/scss/variable.scss";
@import "assets/scss/icon.scss";

body{
  font-family: 'Open Sans', sans-serif;
}

h2{
  font-size:24px;
}

h3{
  font-size:18px;
  font-weight: 600;
}

.has-bg-grey{
  background: #f2f2f2;
}

.font-sans{
  font-family: 'Open Sans', sans-serif;
}

.font-lato{
  font-family: 'Lato', sans-serif;
}

.font-raleway{
  font-family: 'Raleway', sans-serif;
}

.top-nav{
  background: #dfe0ff;
  color: #4a4a4a;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  &.dark{
    background: #070d01;
    color: #fefefe;
  }
  .nav-link {
    padding: .5rem .5rem;
    color: #a8aab7;
  }
}

.second-nav {
  padding: 15px 0px;
  background: #f2f2f2;
  .nav-link {
    color: #a8aab7;
  }
}

.navbar-blue{
  background: $color-blue;
  padding: 0;
  .nav-item.active .nav-link{
    color: $color-orange;
    border-bottom: 3px $color-orange solid;
  }
  .nav-link{
    color: #ffffff;
    padding-left: 15px !important;
    padding-right: 15px !important;
    padding-top: 17px;
    padding-bottom: 17px;
    border-bottom: 3px $color-blue solid;
    &:hover{
      color: $color-orange;
      border-bottom: 3px $color-orange solid;
    }
  }

}

.navbar-green{
  background: #04895b;
  padding: 0;
  .nav-item.active .nav-link{
    color: #046789;
    border-bottom: 3px $color-orange solid;
    background-color: #e6e7e9;
  }
  .nav-link{
    color: #ffffff;
    padding-left: 15px !important;
    padding-right: 15px !important;
    padding-top: 17px;
    padding-bottom: 17px;
    border-bottom: 3px #04895b solid;
    &:hover{
      color: #046789;
      border-bottom: 3px $color-orange solid;
      background-color: #e6e7e9;
    }
  }

}

.searchbar{
  position: relative;
  .form-control{
    padding-left: 35px;
  }
  i{
    position: absolute;
    left: 10px;
    top: 11px;
  }
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.banner{
  position: relative;
  .content-slide{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 50%;
    height: auto;
    background: rgba(41, 22, 111, 0.35);
    padding: 45px;
    color: #fff;
    h1{
      font-family: 'Raleway', sans-serif;
      font-size: 36px;
      font-weight: 700;
    }
  }
}

.banner-second{
  position: relative;
  .content-slide{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    width: 30%;
    height: auto;
    background: #61dd9a;
    padding: 115px;
    color: #4a4a4a;
    h1{
      font-family: 'Open Sans', sans-serif;
      font-size: 36px;
      font-weight: 700;
    }
  }
}

.maklumat{
  background: #f22d39;
  .maklumat-cont {
    padding-left: 115px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fff;
    h4{
      font-size: 18px;
    }
    p{
      color: #fefefe;
    }
  }
}

.pengumuman{
  background: #384ca3;
  .pengumuman-cont{
    width: 85%;
    position: relative;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    h4{
      font-size: 18px;
      color: #ffb618;
    }
    p{
      color: #fefefe;
    }
  }
}

.swiper-button-prev.arr-prev{
  background: url('../../img/icon/next.png') no-repeat center center;
  right: 37px;
  left: auto;
  background-size: contain;
  transform: rotate(180deg);
}

.swiper-button-next.arr-next{
  background: url('../../img/icon/next.png') no-repeat center center;
  background-size: contain;
}


.swiper-button-prev.arr-prev, .swiper-button-next.arr-next{
  width: 22px;
  height: 25px;
  bottom: 21px;
  top: auto;
}


.swiper-button-prev.dirjen-prev{
  background: url('../../img/icon/next-dark.png') no-repeat center center;
  background-size: contain;
  transform: rotate(180deg);
  left: -46px;
}


.swiper-button-next.dirjen-next{
  background: url('../../img/icon/next-dark.png') no-repeat center center;
  background-size: contain;
  right: -46px;
}

.swiper-button-prev.dirjen-prev, .swiper-button-next.dirjen-next{
  width: 22px;
  height: 25px;
}

.banner .swiper-button-prev.pirm-prev{
  background: url('../../img/icon/arrow-next.png') no-repeat center center;
  background-size: contain;
  transform: rotate(180deg);
  left: 0;
  top: 20px;
}


.banner .swiper-button-next.pirm-next{
  background: url('../../img/icon/arrow-next.png') no-repeat center center;
  background-size: contain;
  right: -36px;
  top: 17px;
}

.banner .swiper-button-prev.pirm-prev, .swiper-button-next.pirm-next{
  width: 22px;
  height: 25px;
  position: relative;
}

.banner .swiper-pagination.prim-page{
  position: relative;
  text-align: right;
  top: 15px;
  .swiper-pagination-bullet{
    border-radius: 0;
    background: transparent;
    border: 1px #fff solid;
    &.swiper-pagination-bullet-active {
      background: $color-orange;
      border: 1px $color-orange solid;
    }
  }
}

.banner-second .swiper-button-prev.pirm-prev{
  background: url('../../img/icon/arrow-next.png') no-repeat center center;
  background-size: contain;
  transform: rotate(180deg);
  left: 0;
  top: 20px;
}


.banner-second .swiper-button-next.pirm-next{
  background: url('../../img/icon/arrow-next.png') no-repeat center center;
  background-size: contain;
  right: -36px;
  top: 17px;
}

.banner-second .swiper-button-prev.pirm-prev, .swiper-button-next.pirm-next{
  width: 22px;
  height: 25px;
  position: relative;
}

.banner-second .swiper-pagination.prim-page{
  position: relative;
  top: 15px;
  .swiper-pagination-bullet{
    background: transparent;
    border: 1px #fff solid;
    &.swiper-pagination-bullet-active {
      background: #fff;
      border: 1px #fff solid;
    }
  }
}

.swiper-pagination.offpage{
  display: none;
}


.has-bg-bl{
  background: $color-bluelight;
}


.prosedur-lst{
  background: #fff;
  text-align: center;
  font-size: 14px;
  position: relative;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.07);
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 50px;
  padding-bottom: 15px;
  color: #696969;
  margin-top: 50px;
  .icon{
    width: 63px;
    height: 63px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: -30px;
  }
  h3{
    color: #333333;
  }
  &:hover{
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.07), 0 10px 25px rgba(50, 50, 93, 0.2);
  }
}

.news-contain{
  border-bottom: 1px #e0e0e0  solid;
}

.news-tab{
  .nav-item {
    .nav-link{
      color: #696969;
      font-family: 'Raleway', sans-serif;
      border-bottom: 3px #fff solid;
      &.active{
        color: #4a4a4a;
        font-weight: 600;
        border-bottom: 3px $color-orange solid;
      }
     
    }
    
  }
}

.link-warning{
  color: $color-orange;
  font-weight: 600;
}

.link-default{
  color:#384ca3;
  font-weight: 600;
}

.text-12{
  font-size: 12px;
}

.text-14{
  font-size: 14px;
}

.img-news-list{
  flex: 252px;
  max-width: 252px;
}

.news-list{
  margin-bottom: 20px;
  a{
    color: #333333;
    h3{
      line-height: 26px;
    }
    p{
      font-size: 12px;
      line-height: 20px;
      color: #696969;
    }
    & h3:hover{
      color: #29166f;
    }
  }
  & a:hover{
    text-decoration: none;
  }
 
}

.meta-news{
  font-size: 12px;
  color: #696969;
  border-top: 1px solid #979797;
  padding-top: 10px;
}

.meta-gal{
  font-size: 12px;
  color: #696969;
}

.btn-primary{
  background: $color-blue;
  border-color: $color-blue;
}

.btn-asl{
  border-radius: 0;
  padding-left: 60px;
  padding-right: 60px;
  font-size: 14px;
}

.sidebar-title{
  padding-top: 10px;
  margin-bottom: 15px;
  h3{
    margin-bottom: 0;
    color: #4a4a4a;
    border-bottom: 3px $color-orange solid;
    padding-bottom: 10px;
    width: 150px;
  }
}

.logo-dirjen{
  p{
    color: #998585;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    margin-top: 25px;
  }
}


.gallery-list {
  width:100%;
  height:100%;
  float:left;
  overflow:hidden;
  position:relative;
  cursor:default;
}
  
.gallery-list .overlay {
  width:100%;
  height:100%;
  position:absolute;
  overflow:hidden;
  top:0;
  left:0;
  opacity:0;
  background-color: #29166f8c;
  -webkit-transition:all .4s ease-in-out;
  transition:all .4s ease-in-out;
  padding: 12px;
  color: #fff;
}
  
.gallery-list img {
  display:block;
  position:relative;
  -webkit-transition:all .4s linear;
  transition:all .4s linear;
}

.gallery-list:hover img {
  -ms-transform:scale(1.2);
  -webkit-transform:scale(1.2);
  transform:scale(1.2);
}
  
.gallery-list:hover .overlay {
  opacity:1;
  filter:alpha(opacity=100);
}

.gallery-ico {
  position: absolute;
  bottom: 4px;
  text-align: center;
  left: 0;
  right: 0;
  font-size:0px;
}

.gallery-ico a{
  background: #29166f;
  color: #fff;
  padding: 8px;
  font-size: 14px;
}

.video-content{

  &.small{
    .play i{
      font-size: 25px;
    }
  }
  position: relative;
  .play{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    i{
      font-size: 45px;
      color: rgba(255, 255, 255, 0.733);
    }
  }
  .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #29166f8c;
    opacity: 0;
    transition: opacity .3s;
  }
  &:hover .overlay{
    opacity: 1;
  }
  &:hover .play{
    color: rgb(255, 255, 255);
  }
}

.vid-link{
  color: #696969;
  font-size: 14px;
  &:hover{
    color: #384ca3;
    text-decoration: none;
  }
}

.warning-header{
  background-color: #f58523;
  padding: 15px 30px;
  color: #fff;
  font-size: 20px;
  i{
    width: 50px;
    height: 50px;
    vertical-align: middle;
    margin-right: 20px;
  }
}

.warning-body{
  background-color: #f5a623;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #4a4a4a;
  padding: 22px;
}

.goverment{
  background: #666666;
  padding: 15px;
  color: #333333;
  .goverment-list{
    background: #fff;
    padding: 15px;
    border-bottom: 1px dashed #696969;
    i{
      width: 51px;
      height: 51px;
    }
    .title{
      color: #696969;
      font-size: 16px;
    }
    .date{
      color: #696969;
      font-size: 14px;
    }
    .us-post{
      color: #696969;
      font-size: 14px;
    }
  }
}

.ivons{
  max-width: 80px;
  padding-right: 0;
}

.goverment-content{
  position: relative;
  padding-top: 129px;
  padding-bottom: 78px;
  &:before{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    content: "";
    background: url('../../img/gpr-header-fix.png') no-repeat center center;
    height: 128px;
    background-size: contain;
  }
  &:after{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    background: url('../../img/gpr-footer.png') no-repeat center center;
    height: 78px;
    background-size: contain;
  }
}

footer{
  background: #01002e;
  color: #fff;

  .info{
    i{
      color: $color-orange;
    }
  }

  .nav-link{
    color: #e6e7e9;
    font-size: 14px;
    padding-left: 0;
    &:hover{
      color: $color-orange;
    }
  }
  hr{
    border-bottom: 1px solid #696969;
    margin-top: 50px;
  }
  .subfoo{
    color: #e6e7e9;
    font-size: 16px;
  }
  &.issecond{
    background: #04895b;
  }
}

header.mobile{
  display: none;
}

.gallery-mobile{
  display: none
}

.video-mobile{
  display: none;
}

.logo-mobile{
  display: none;
}

.siaran-pers{
  border-bottom: 1px dashed #979797;
  padding-bottom: 15px;
  .meta-news{
    border: 0;
  }
  h3{
    color: #29166f;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
  }
}

.mkluma{
  font-size: 14px;
  .swiper-slide{
    padding-left: 30px;
    color: #f22d39;
  }
}

.infoa{
  font-size: 14px;
  .swiper-slide{
    padding-left: 30px;
    color: #696969;
  }
}

.maklumat-i{
  background-color: #f22d39;
  color: #fff;
  font-size: 14px;
  padding: 3px 7px;
}



.swiper-button-prev.asd-prev{
  background: url('../../img/icon/next-small.png') no-repeat center center;
  background-size: contain;
  transform: rotate(180deg);
  left: 0;
}


.swiper-button-next.asd-next{
  background: url('../../img/icon/next-small.png') no-repeat center center;
  background-size: contain;
  left: 12px;
  right: auto;
}

.swiper-button-prev.asd-prev, .swiper-button-next.asd-next{
  width: 7px;
  height: 13px;
  top: 27px;
}


.swiper-button-prev.infoa-prev{
  background: url('../../img/icon/infoa.png') no-repeat center center;
  background-size: contain;
  transform: rotate(180deg);
  left: 0;
}


.swiper-button-next.infoa-next{
  background: url('../../img/icon/infoa.png') no-repeat center center;
  background-size: contain;
  left: 12px;
  right: auto;
}

.swiper-button-prev.infoa-prev, .swiper-button-next.infoa-next{
  width: 7px;
  height: 13px;
  top: 27px;
}

.pnegi-i{
  background: #384ca3;
  color: #fff;
  font-size: 14px;
  padding: 3px 7px;
}

.titleas{
  position: relative;
  .title-dash{
    width: 464px;
    margin: auto;
    h2{
      background: #dfe0ff;
      position: relative;
      z-index: 99;
    }
  }
  hr{
    margin-top:-22px;
    border-style: dashed;
  }
}

.news-list.second{
    p{
      color: #696969;
      font-size: 14px;
      line-height: 20px;
    }
}

.line-dash2{
  border-top: 1px dashed #9b9b9b;
  border-bottom: 1px dashed #9b9b9b;
  height: 4px;
  margin-top: 5px;
}

.pt-gallery{
  background-color: #f2f2f2;
}

.subfoote{
  background-color: #070d01;
  padding-top: 20px;
  margin-top: 40px;
}
.mobile-ios, .video-primary-title{
  display: none;
}

.titile-struktur{
  h2{
    color: #4a4a4a;
    font-family: Raleway;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    position: relative;
  }
  hr{
    border-color: $color-orange;
    border-width: 4px;
    width: 174px;
  }
}

.banner-head{
  background: url('../../img/banner-head.jpg') no-repeat center center;
  background-size: content;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #fff;
}

.gallery-top{
  .swiper-button-next, .swiper-button-prev{
    top: 40%;
    background-color: #384ca3;
    width: 50px;
    height: 50px;
    background-size: 27px 29px;
  }
  .swiper-button-prev{
    left: 0;
  }
  .swiper-button-next{
    right: 0;
  }
}

.cs-breadcrumb{
  background: transparent;
  padding: 0;
  .breadcrumb-item{
    color: #fff;
    a{
      color: #fff;
    }
  }
  .breadcrumb-item + .breadcrumb-item::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    display: inline-block;
    padding-right: .5rem;
    padding-left: .5rem;
    color: #fff;
    content: "\f054";
  }
}

.sidebar-sec{
  background: #fff;
  .sidebar-sec-title {
    background: #384ca3;
    color: #fff;
    padding: 15px;
    h3{
      margin-bottom: 0;
      font-size: 20px;
      font-weight: 700;
    }
  }
  .nav-item{
    border-bottom: 1px #e6e7e9 solid;
    .nav-link{
      color: #4a4a4a;
      font-size: 14px;
      padding: 1rem 1rem;
      &.active, &:hover{
        background-color: #dfe0ff;
      }
    }
  }
 
}

.line-orange{
  border: 3px solid #ffb618;
  width: 147px;
  float: left;
}

.pagination{
  .page-item{
    margin: 5px;
    &.active .page-link{
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08), 0 7px 14px rgba(50, 50, 93, 0.11);
      background-color: #384ca3;
      border-color: #384ca3;
      color: #fff;
    }
    .page-link{
      border-radius: 100%;
      width: 36px;
      height: 36px;
      font-size: 14px;
      line-height: 31px;
      color: #8898aa;
      padding: 0;
      text-align: center;
    }
  }
}

.link-default{
  color: #4a4a4a;
  &:hover{
    text-decoration: none;
  }
}

.news-icosearch{
    position: absolute;
    bottom: 0;
    text-align: center;
    left: 0;
    right: 0;
    font-size: 0px;
    top: 0;
    display: flex; 
    align-items: center;
    justify-content: center;
    text-align: center; 
    a{
      background: transparent;
      font-size: 16px;
    }
}

.head-table{
  background-color: #e6e7e9;
}

.table-puu{
  font-size: 14px;
}

.table-puu td, .table-puu th {
  vertical-align: middle;
}
.text-blue{
  color: #384ca3;
}

.swiper-slide-thumb-active{
  position: relative;
  &::before{
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(83, 5, 119, 0.308);
  }
}


.structure{
  padding: 15px;  
  width: 230px;
  text-align: center;
  &.structure1{
    background-color: #29166f;
    color: #fff;
    position: relative;
    z-index: auto;
    &::before{
      position: absolute;
      content: "";
      width: 2px;
      height: 289px;
      background: #384ca3;
      margin: auto;
      left: 0;
      right: 0;
      top: 0;
      z-index: -1;
    }
  }
  &.structure2{
    background-color: #384ca3;
    color: #fff;
    margin: 78px 140px;
    position: relative;
    &::before{
      position: absolute;
      content: "";
      width: 512px;
      height: 2px;
      background: #384ca3;
      margin: auto;
      left: 0;
      right: 0;
      top: 27px;
      z-index: -1;
    }
    &:last-child:before{
      display: none;
    }
  }
  &.structure3{
    background-color: #ffb618;
    color: #fff;
    position: relative;
    &::before{
      position: absolute;
      content: "";
      width: 2px;
      height: 351px;
      background: #384ca3;
      margin: auto;
      left: 0;
      right: 0;
      top: 0;
      z-index: -1;
    }
  }
  &.structure4{
    position: relative;
    margin-left: -300px;
    background: #dfe0ff;
    color: #4a4a4a;
    margin-top: 46px;
    margin-bottom: 39px;
  }
  &.structure5{
    background: #dfe0ff;
    color: #4a4a4a;
    width: 166px;
    padding: 4px;
    margin: 15px;
    position: relative;
    &::before{
      position: absolute;
      content: "";
      width: 2px;
      height: 134px;
      background: #384ca3;
      margin: auto;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
    }
  }

  &.structure6{
    border: 1px solid #979797;
    background-color: #e6e7e9;
    color: #4a4a4a;
    width: 120px;
    font-size: 11px;
    font-weight: 600;
    line-height: 16px;
    padding: 10px 0;
    margin: 3px;
    position: relative;
    &::before{
      position: absolute;
      content: "";
      width: 2px;
      height: 97px;
      background: #384ca3;
      margin: auto;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
    }
    &:first-child{
      margin-left: 0;
    }
    &:last-child{
      margin-right: 0;
    }

  }
}

.structure5-col{
  position: relative;
  margin-left: -190px;
  &::before{
    position: absolute;
    content: "";
    height: 2px;
    background: #384ca3;
    top:-15px;
    width: 784px;
  }
}

.structure6-col{
  position: relative;
  width: 1135px;
  margin-left: -13px;
  &::before{
    position: absolute;
    content: "";
    height: 2px;
    background: #384ca3;
    top: -25px;
    width: 1008px;
  }
}

@media (max-width: 1199.98px) {
  .img-news-list {
    flex: 155px;
    max-width: 155px;
  }
  .organitation-container{
    overflow: auto;
  }
  
  .organitation {
    width: 1161px;
  }

  .structure6-col {
    margin-left: 13px;
  }
  
}


@media (max-width: 991.98px) {
  header.desktop{
    display: none;
  }
  header.mobile{
    display: block;
    &.ismobile{
      .top-nav{
        background-color: #070d01;
        color: #fff;
        font-size: 14px;
      }
    }
  }
  .manbar{
    flex: 50px;
    max-width: 50px;
  }
  .bar-menu{
    background: $color-blue;
    height: 79px;
    font-size: 32px;
    line-height: 78px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    &.second{
      background: transparent;
      height: 30px;
      color: #000;
      font-size: 22px;
      line-height: 29px;
      text-align: center;
    }
  }

  .nav-asd{
    display: block;
    background: #f2f2f2;
    padding-top: 6px;
    border-bottom: 1px #e6e7e9 solid;
    height: 50px;
  }

  .ismob{
    font-size: 27px;
  }
  .second-nav {
    padding: 10px 0;
    background: #f2f2f2;
  }
  .form-search{
    border: 1px solid #e6e7e9;
    border-right: 0;
    &::placeholder{
      color: #696969;
    }
  }
  .input-group-text{
    background: #fff;
    color: #046789;
  }
  .left-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 0%;
    background: $color-blue;
    z-index: 999;
    overflow: hidden;
    padding-left: 15px;
    padding-right: 15px;
    left: -90px;
    transition: all .3s;
    .bar-nav{
      border-bottom: 1px #ffffff1a solid;
      padding-top: 10px;
      padding-bottom: 15px;
      i{
        font-size: 30px;
        color: #fff;
      }
    }
    .nav-link{
      color: #fff;
      border-bottom: 1px #ffffff1a solid;
      padding-left: 0;
      padding-right: 0;
      &:hover{
        color: $color-orange;
      }
      &.active{
        color: $color-orange;
      }
    }
  }

  .left-menu.active {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    background: $color-blue;
    z-index: 999;
    overflow: hidden;
    padding-top: 15px;
    left: 0;
  }
  .maklumat .maklumat-cont{
    padding-left: 0;
  }
  .pengumuman .pengumuman-cont {
    width: 100%;
  }
  .swiper-button-next.arr-next.pen {
    right: 0;
  }
  .swiper-button-prev.arr-prev.pen {
    right: 25px;
  }
  .goverment-content {
    padding-top: 167px;
  }
  .goverment-content::before {
    height: 167px;
    background-size: contain;
  }
}

@media (max-width: 802px) {
  .banner .content-slide {
    position: relative;
    top: 0;
    transform: initial;
    right: 0;
    width: 100%;
    height: auto;
    background: rgb(41, 22, 111);
    padding: 45px;
    color: #fff;
    padding: 15px;
    padding-bottom: 29px;
    h1{
      font-size: 22px;
    }
  }
  .banner-second .content-slide {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  
.swiper-pagination.offpage{
  display: block;
  .swiper-pagination-bullet{
    border-radius: 0;
    background: transparent;
    border: 1px #fff solid;
    &.swiper-pagination-bullet-active {
      background: $color-orange;
      border: 1px $color-orange solid;
    }
  }
}
  
.swiper-pagination.offpage.iso{
  display: block;
  .swiper-pagination-bullet{
    background: transparent;
    border-radius: 100%;
    border: 1px #fff solid;
    &.swiper-pagination-bullet-active {
      background: #fff;
      border: 1px #fff solid;
    }
  }
}

.banner-second .content-slide {
  padding: 15px;
  text-align: center;
  h1{
    font-size: 16px;
  }
  p{
    display: none;
  }
}

.swiper-pagination.prim-page{
  display: none;
}

}

@media (max-width: 767.98px) {
  .img-news-list {
    flex: 150px;
    max-width: 150px;
  }
  .swiper-button-next.dirjen-next {
    right: 0;
  }
  .swiper-button-prev.dirjen-prev {
    left: 0;
  }
  .videos{
    display: none;
  }
  .video-mobile{
    display: block;
  }
  .m-hide{
    display: none !important;
  }
  .maklumat-i, .pnegi-i, .swiper-button-prev.asd-prev, .swiper-button-next.asd-next,
  .swiper-button-prev.infoa-prev, .swiper-button-next.infoa-next{
    display: none;
  }
  .mkluma .swiper-slide,
  .infoa .swiper-slide {
    padding-left: 0;
  }
  .dnger-ico{
    flex: 32px;
    max-width: 32px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    background: #cecece;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #fff;
    &.maklumats{
      background-color: #f22d39;
    }
    &.infoas{
      background-color: #384ca3;
    }
  }
  .mobile-ios{
    display: block;
  }
  .title{
    font-size: 24px;
  }
  .link-warning {
    font-size: 24px;
  }
}


@media (max-width: 575.98px) {
  .top-nav{
    font-size: 10px;
  }
  .icon-medium {
    width: 15px;
    height: 15px;
  }
  .block{
    display: block;
    a{
      margin-left: 0 !important;
      margin-top: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
  .prosedur-lst p, .news-list p{
    display: none;
  }

  .news-list {
    a{
      color: #333333;
    }
    h3{
      font-size: 16px;
    }
    .link-warning{
      display: none;
    }
  }
  .news-contain .br-other{
    display: none;
  }
  .gallerys{
    display: none;
  }
  .gallery-mobile{
    display: block;
    position: relative;
    p{
      position: absolute;
      bottom: 0;
      width: 100%;
      background-color: rgba(1, 0, 46, 0.7);
      margin-bottom: 0;
      padding: 10px;
      color: #fff;
      font-size: 12px;
    }
  }

  .logo-desktop{
    display: none;
  }

  .logo-mobile{
    display: block;
    width: 250px;
    margin: auto;
  }
  .foocol{
    text-align: center !important;
    font-size: 16px;
  }
  .titleas .title-dash {
    width: 100%;
    margin: auto;
  }
  
  .gutter{
    margin-right: -10px;
    margin-left: -10px;
  }
  .gutter > .col, .gutter > [class*="col-"] {
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
  }
  .video-primary-title{
    display: block;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    margin-top: 15px;
    a{
      color: #000;
      &:hover{
        color: #29166f;
        text-decoration: none;
      }
    }
  }
  .video-content + .meta-news{
    display: none;
    + p {
      display: none;
    }
  }
  .md-text-center{
    text-align: center;
  }
}

@media (max-width: 380px) {


}
