@import url("https://fonts.googleapis.com/css?family=Lato|Open+Sans|Raleway");
.icon-calender {
  background: url("../../img/icon/calender.png") no-repeat center center; }

.icon-mail {
  background: url("../../img/icon/mail.png") no-repeat center center; }

.icon-twitter {
  background: url("../../img/icon/twitter.png") no-repeat center center; }

.icon-facebook {
  background: url("../../img/icon/facebook.png") no-repeat center center; }

.icon-youtube {
  background: url("../../img/icon/youtube.png") no-repeat center center; }

.icon-instagram {
  background: url("../../img/icon/instagram.png") no-repeat center center; }

.icon-indonesia-flag {
  background: url("../../img/icon/indonesia-flag.png") no-repeat center center; }

.icon-info {
  background: url("../../img/icon/info.png") no-repeat center center; }

.icon-search {
  background: url("../../img/icon/search.png") no-repeat center center; }

.icon-book {
  background: url("../../img/icon/book.png") no-repeat center center; }

.icon-doc {
  background: url("../../img/icon/doc.png") no-repeat center center; }

.icon-ship {
  background: url("../../img/icon/ship.png") no-repeat center center; }

.icon-warning {
  background: url("../../img/icon/warning.png") no-repeat center center; }

.icon-open-book {
  background: url("../../img/icon/open-book.png") no-repeat center center; }

.icon-small {
  width: 16px;
  height: 16px; }

.icon-medium {
  width: 20px;
  height: 20px; }

.icon {
  display: inline-block;
  vertical-align: text-top;
  background-size: contain; }

body {
  font-family: 'Open Sans', sans-serif; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 18px;
  font-weight: 600; }

.has-bg-grey {
  background: #f2f2f2; }

.font-sans {
  font-family: 'Open Sans', sans-serif; }

.font-lato {
  font-family: 'Lato', sans-serif; }

.font-raleway {
  font-family: 'Raleway', sans-serif; }

.top-nav {
  background: #dfe0ff;
  color: #4a4a4a;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px; }
  .top-nav.dark {
    background: #070d01;
    color: #fefefe; }
  .top-nav .nav-link {
    padding: .5rem .5rem;
    color: #a8aab7; }

.second-nav {
  padding: 15px 0px;
  background: #f2f2f2; }
  .second-nav .nav-link {
    color: #a8aab7; }

.navbar-blue {
  background: #29166f;
  padding: 0; }
  .navbar-blue .nav-item.active .nav-link {
    color: #ffb618;
    border-bottom: 3px #ffb618 solid; }
  .navbar-blue .nav-link {
    color: #ffffff;
    padding-left: 15px !important;
    padding-right: 15px !important;
    padding-top: 17px;
    padding-bottom: 17px;
    border-bottom: 3px #29166f solid; }
    .navbar-blue .nav-link:hover {
      color: #ffb618;
      border-bottom: 3px #ffb618 solid; }

.navbar-green {
  background: #04895b;
  padding: 0; }
  .navbar-green .nav-item.active .nav-link {
    color: #046789;
    border-bottom: 3px #ffb618 solid;
    background-color: #e6e7e9; }
  .navbar-green .nav-link {
    color: #ffffff;
    padding-left: 15px !important;
    padding-right: 15px !important;
    padding-top: 17px;
    padding-bottom: 17px;
    border-bottom: 3px #04895b solid; }
    .navbar-green .nav-link:hover {
      color: #046789;
      border-bottom: 3px #ffb618 solid;
      background-color: #e6e7e9; }

.searchbar {
  position: relative; }
  .searchbar .form-control {
    padding-left: 35px; }
  .searchbar i {
    position: absolute;
    left: 10px;
    top: 11px; }

.swiper-container {
  width: 100%;
  height: 100%; }

.banner {
  position: relative; }
  .banner .content-slide {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 50%;
    height: auto;
    background: rgba(41, 22, 111, 0.35);
    padding: 45px;
    color: #fff; }
    .banner .content-slide h1 {
      font-family: 'Raleway', sans-serif;
      font-size: 36px;
      font-weight: 700; }

.banner-second {
  position: relative; }
  .banner-second .content-slide {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 30%;
    height: auto;
    background: #61dd9a;
    padding: 115px;
    color: #4a4a4a; }
    .banner-second .content-slide h1 {
      font-family: 'Open Sans', sans-serif;
      font-size: 36px;
      font-weight: 700; }

.maklumat {
  background: #f22d39; }
  .maklumat .maklumat-cont {
    padding-left: 115px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fff; }
    .maklumat .maklumat-cont h4 {
      font-size: 18px; }
    .maklumat .maklumat-cont p {
      color: #fefefe; }

.pengumuman {
  background: #384ca3; }
  .pengumuman .pengumuman-cont {
    width: 85%;
    position: relative;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 15px; }
    .pengumuman .pengumuman-cont h4 {
      font-size: 18px;
      color: #ffb618; }
    .pengumuman .pengumuman-cont p {
      color: #fefefe; }

.swiper-button-prev.arr-prev {
  background: url("../../img/icon/next.png") no-repeat center center;
  right: 37px;
  left: auto;
  background-size: contain;
  transform: rotate(180deg); }

.swiper-button-next.arr-next {
  background: url("../../img/icon/next.png") no-repeat center center;
  background-size: contain; }

.swiper-button-prev.arr-prev, .swiper-button-next.arr-next {
  width: 22px;
  height: 25px;
  bottom: 21px;
  top: auto; }

.swiper-button-prev.dirjen-prev {
  background: url("../../img/icon/next-dark.png") no-repeat center center;
  background-size: contain;
  transform: rotate(180deg);
  left: -46px; }

.swiper-button-next.dirjen-next {
  background: url("../../img/icon/next-dark.png") no-repeat center center;
  background-size: contain;
  right: -46px; }

.swiper-button-prev.dirjen-prev, .swiper-button-next.dirjen-next {
  width: 22px;
  height: 25px; }

.banner .swiper-button-prev.pirm-prev {
  background: url("../../img/icon/arrow-next.png") no-repeat center center;
  background-size: contain;
  transform: rotate(180deg);
  left: 0;
  top: 20px; }

.banner .swiper-button-next.pirm-next {
  background: url("../../img/icon/arrow-next.png") no-repeat center center;
  background-size: contain;
  right: -36px;
  top: 17px; }

.banner .swiper-button-prev.pirm-prev, .swiper-button-next.pirm-next {
  width: 22px;
  height: 25px;
  position: relative; }

.banner .swiper-pagination.prim-page {
  position: relative;
  text-align: right;
  top: 15px; }
  .banner .swiper-pagination.prim-page .swiper-pagination-bullet {
    border-radius: 0;
    background: transparent;
    border: 1px #fff solid; }
    .banner .swiper-pagination.prim-page .swiper-pagination-bullet.swiper-pagination-bullet-active {
      background: #ffb618;
      border: 1px #ffb618 solid; }

.banner-second .swiper-button-prev.pirm-prev {
  background: url("../../img/icon/arrow-next.png") no-repeat center center;
  background-size: contain;
  transform: rotate(180deg);
  left: 0;
  top: 20px; }

.banner-second .swiper-button-next.pirm-next {
  background: url("../../img/icon/arrow-next.png") no-repeat center center;
  background-size: contain;
  right: -36px;
  top: 17px; }

.banner-second .swiper-button-prev.pirm-prev, .swiper-button-next.pirm-next {
  width: 22px;
  height: 25px;
  position: relative; }

.banner-second .swiper-pagination.prim-page {
  position: relative;
  top: 15px; }
  .banner-second .swiper-pagination.prim-page .swiper-pagination-bullet {
    background: transparent;
    border: 1px #fff solid; }
    .banner-second .swiper-pagination.prim-page .swiper-pagination-bullet.swiper-pagination-bullet-active {
      background: #fff;
      border: 1px #fff solid; }

.swiper-pagination.offpage {
  display: none; }

.has-bg-bl {
  background: #dfe0ff; }

.prosedur-lst {
  background: #fff;
  text-align: center;
  font-size: 14px;
  position: relative;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.07);
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 50px;
  padding-bottom: 15px;
  color: #696969;
  margin-top: 50px; }
  .prosedur-lst .icon {
    width: 63px;
    height: 63px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: -30px; }
  .prosedur-lst h3 {
    color: #333333; }
  .prosedur-lst:hover {
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.07), 0 10px 25px rgba(50, 50, 93, 0.2); }

.news-contain {
  border-bottom: 1px #e0e0e0  solid; }

.news-tab .nav-item .nav-link {
  color: #696969;
  font-family: 'Raleway', sans-serif;
  border-bottom: 3px #fff solid; }
  .news-tab .nav-item .nav-link.active {
    color: #4a4a4a;
    font-weight: 600;
    border-bottom: 3px #ffb618 solid; }

.link-warning {
  color: #ffb618;
  font-weight: 600; }

.link-default {
  color: #384ca3;
  font-weight: 600; }

.text-12 {
  font-size: 12px; }

.text-14 {
  font-size: 14px; }

.img-news-list {
  flex: 252px;
  max-width: 252px; }

.news-list {
  margin-bottom: 20px; }
  .news-list a {
    color: #333333; }
    .news-list a h3 {
      line-height: 26px; }
    .news-list a p {
      font-size: 12px;
      line-height: 20px;
      color: #696969; }
    .news-list a h3:hover {
      color: #29166f; }
  .news-list a:hover {
    text-decoration: none; }

.meta-news {
  font-size: 12px;
  color: #696969;
  border-top: 1px solid #979797;
  padding-top: 10px; }

.meta-gal {
  font-size: 12px;
  color: #696969; }

.btn-primary {
  background: #29166f;
  border-color: #29166f; }

.btn-asl {
  border-radius: 0;
  padding-left: 60px;
  padding-right: 60px;
  font-size: 14px; }

.sidebar-title {
  padding-top: 10px;
  margin-bottom: 15px; }
  .sidebar-title h3 {
    margin-bottom: 0;
    color: #4a4a4a;
    border-bottom: 3px #ffb618 solid;
    padding-bottom: 10px;
    width: 150px; }

.logo-dirjen p {
  color: #998585;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  margin-top: 25px; }

.gallery-list {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  cursor: default; }

.gallery-list .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: #29166f8c;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  padding: 12px;
  color: #fff; }

.gallery-list img {
  display: block;
  position: relative;
  -webkit-transition: all .4s linear;
  transition: all .4s linear; }

.gallery-list:hover img {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2); }

.gallery-list:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100); }

.gallery-ico {
  position: absolute;
  bottom: 4px;
  text-align: center;
  left: 0;
  right: 0;
  font-size: 0px; }

.gallery-ico a {
  background: #29166f;
  color: #fff;
  padding: 8px;
  font-size: 14px; }

.video-content {
  position: relative; }
  .video-content.small .play i {
    font-size: 25px; }
  .video-content .play {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center; }
    .video-content .play i {
      font-size: 45px;
      color: rgba(255, 255, 255, 0.733); }
  .video-content .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #29166f8c;
    opacity: 0;
    transition: opacity .3s; }
  .video-content:hover .overlay {
    opacity: 1; }
  .video-content:hover .play {
    color: white; }

.vid-link {
  color: #696969;
  font-size: 14px; }
  .vid-link:hover {
    color: #384ca3;
    text-decoration: none; }

.warning-header {
  background-color: #f58523;
  padding: 15px 30px;
  color: #fff;
  font-size: 20px; }
  .warning-header i {
    width: 50px;
    height: 50px;
    vertical-align: middle;
    margin-right: 20px; }

.warning-body {
  background-color: #f5a623;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #4a4a4a;
  padding: 22px; }

.goverment {
  background: #666666;
  padding: 15px;
  color: #333333; }
  .goverment .goverment-list {
    background: #fff;
    padding: 15px;
    border-bottom: 1px dashed #696969; }
    .goverment .goverment-list i {
      width: 51px;
      height: 51px; }
    .goverment .goverment-list .title {
      color: #696969;
      font-size: 16px; }
    .goverment .goverment-list .date {
      color: #696969;
      font-size: 14px; }
    .goverment .goverment-list .us-post {
      color: #696969;
      font-size: 14px; }

.ivons {
  max-width: 80px;
  padding-right: 0; }

.goverment-content {
  position: relative;
  padding-top: 129px;
  padding-bottom: 78px; }
  .goverment-content:before {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    content: "";
    background: url("../../img/gpr-header-fix.png") no-repeat center center;
    height: 128px;
    background-size: contain; }
  .goverment-content:after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    background: url("../../img/gpr-footer.png") no-repeat center center;
    height: 78px;
    background-size: contain; }

footer {
  background: #01002e;
  color: #fff; }
  footer .info i {
    color: #ffb618; }
  footer .nav-link {
    color: #e6e7e9;
    font-size: 14px;
    padding-left: 0; }
    footer .nav-link:hover {
      color: #ffb618; }
  footer hr {
    border-bottom: 1px solid #696969;
    margin-top: 50px; }
  footer .subfoo {
    color: #e6e7e9;
    font-size: 16px; }
  footer.issecond {
    background: #04895b; }

header.mobile {
  display: none; }

.gallery-mobile {
  display: none; }

.video-mobile {
  display: none; }

.logo-mobile {
  display: none; }

.siaran-pers {
  border-bottom: 1px dashed #979797;
  padding-bottom: 15px; }
  .siaran-pers .meta-news {
    border: 0; }
  .siaran-pers h3 {
    color: #29166f;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px; }

.mkluma {
  font-size: 14px; }
  .mkluma .swiper-slide {
    padding-left: 30px;
    color: #f22d39; }

.infoa {
  font-size: 14px; }
  .infoa .swiper-slide {
    padding-left: 30px;
    color: #696969; }

.maklumat-i {
  background-color: #f22d39;
  color: #fff;
  font-size: 14px;
  padding: 3px 7px; }

.swiper-button-prev.asd-prev {
  background: url("../../img/icon/next-small.png") no-repeat center center;
  background-size: contain;
  transform: rotate(180deg);
  left: 0; }

.swiper-button-next.asd-next {
  background: url("../../img/icon/next-small.png") no-repeat center center;
  background-size: contain;
  left: 12px;
  right: auto; }

.swiper-button-prev.asd-prev, .swiper-button-next.asd-next {
  width: 7px;
  height: 13px;
  top: 27px; }

.swiper-button-prev.infoa-prev {
  background: url("../../img/icon/infoa.png") no-repeat center center;
  background-size: contain;
  transform: rotate(180deg);
  left: 0; }

.swiper-button-next.infoa-next {
  background: url("../../img/icon/infoa.png") no-repeat center center;
  background-size: contain;
  left: 12px;
  right: auto; }

.swiper-button-prev.infoa-prev, .swiper-button-next.infoa-next {
  width: 7px;
  height: 13px;
  top: 27px; }

.pnegi-i {
  background: #384ca3;
  color: #fff;
  font-size: 14px;
  padding: 3px 7px; }

.titleas {
  position: relative; }
  .titleas .title-dash {
    width: 464px;
    margin: auto; }
    .titleas .title-dash h2 {
      background: #dfe0ff;
      position: relative;
      z-index: 99; }
  .titleas hr {
    margin-top: -22px;
    border-style: dashed; }

.news-list.second p {
  color: #696969;
  font-size: 14px;
  line-height: 20px; }

.line-dash2 {
  border-top: 1px dashed #9b9b9b;
  border-bottom: 1px dashed #9b9b9b;
  height: 4px;
  margin-top: 5px; }

.pt-gallery {
  background-color: #f2f2f2; }

.subfoote {
  background-color: #070d01;
  padding-top: 20px;
  margin-top: 40px; }

.mobile-ios, .video-primary-title {
  display: none; }

.titile-struktur h2 {
  color: #4a4a4a;
  font-family: Raleway;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  position: relative; }

.titile-struktur hr {
  border-color: #ffb618;
  border-width: 4px;
  width: 174px; }

.banner-head {
  background: url("../../img/banner-head.jpg") no-repeat center center;
  background-size: content;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #fff; }

.gallery-top .swiper-button-next, .gallery-top .swiper-button-prev {
  top: 40%;
  background-color: #384ca3;
  width: 50px;
  height: 50px;
  background-size: 27px 29px; }

.gallery-top .swiper-button-prev {
  left: 0; }

.gallery-top .swiper-button-next {
  right: 0; }

.cs-breadcrumb {
  background: transparent;
  padding: 0; }
  .cs-breadcrumb .breadcrumb-item {
    color: #fff; }
    .cs-breadcrumb .breadcrumb-item a {
      color: #fff; }
  .cs-breadcrumb .breadcrumb-item + .breadcrumb-item::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    display: inline-block;
    padding-right: .5rem;
    padding-left: .5rem;
    color: #fff;
    content: "\f054"; }

.sidebar-sec {
  background: #fff; }
  .sidebar-sec .sidebar-sec-title {
    background: #384ca3;
    color: #fff;
    padding: 15px; }
    .sidebar-sec .sidebar-sec-title h3 {
      margin-bottom: 0;
      font-size: 20px;
      font-weight: 700; }
  .sidebar-sec .nav-item {
    border-bottom: 1px #e6e7e9 solid; }
    .sidebar-sec .nav-item .nav-link {
      color: #4a4a4a;
      font-size: 14px;
      padding: 1rem 1rem; }
      .sidebar-sec .nav-item .nav-link.active, .sidebar-sec .nav-item .nav-link:hover {
        background-color: #dfe0ff; }

.line-orange {
  border: 3px solid #ffb618;
  width: 147px;
  float: left; }

.pagination .page-item {
  margin: 5px; }
  .pagination .page-item.active .page-link {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08), 0 7px 14px rgba(50, 50, 93, 0.11);
    background-color: #384ca3;
    border-color: #384ca3;
    color: #fff; }
  .pagination .page-item .page-link {
    border-radius: 100%;
    width: 36px;
    height: 36px;
    font-size: 14px;
    line-height: 31px;
    color: #8898aa;
    padding: 0;
    text-align: center; }

.link-default {
  color: #4a4a4a; }
  .link-default:hover {
    text-decoration: none; }

.news-icosearch {
  position: absolute;
  bottom: 0;
  text-align: center;
  left: 0;
  right: 0;
  font-size: 0px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; }
  .news-icosearch a {
    background: transparent;
    font-size: 16px; }

.head-table {
  background-color: #e6e7e9; }

.table-puu {
  font-size: 14px; }

.table-puu td, .table-puu th {
  vertical-align: middle; }

.text-blue {
  color: #384ca3; }

.swiper-slide-thumb-active {
  position: relative; }
  .swiper-slide-thumb-active::before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(83, 5, 119, 0.308); }

.structure {
  padding: 15px;
  width: 230px;
  text-align: center; }
  .structure.structure1 {
    background-color: #29166f;
    color: #fff;
    position: relative;
    z-index: auto; }
    .structure.structure1::before {
      position: absolute;
      content: "";
      width: 2px;
      height: 289px;
      background: #384ca3;
      margin: auto;
      left: 0;
      right: 0;
      top: 0;
      z-index: -1; }
  .structure.structure2 {
    background-color: #384ca3;
    color: #fff;
    margin: 78px 140px;
    position: relative; }
    .structure.structure2::before {
      position: absolute;
      content: "";
      width: 512px;
      height: 2px;
      background: #384ca3;
      margin: auto;
      left: 0;
      right: 0;
      top: 27px;
      z-index: -1; }
    .structure.structure2:last-child:before {
      display: none; }
  .structure.structure3 {
    background-color: #ffb618;
    color: #fff;
    position: relative; }
    .structure.structure3::before {
      position: absolute;
      content: "";
      width: 2px;
      height: 351px;
      background: #384ca3;
      margin: auto;
      left: 0;
      right: 0;
      top: 0;
      z-index: -1; }
  .structure.structure4 {
    position: relative;
    margin-left: -300px;
    background: #dfe0ff;
    color: #4a4a4a;
    margin-top: 46px;
    margin-bottom: 39px; }
  .structure.structure5 {
    background: #dfe0ff;
    color: #4a4a4a;
    width: 166px;
    padding: 4px;
    margin: 15px;
    position: relative; }
    .structure.structure5::before {
      position: absolute;
      content: "";
      width: 2px;
      height: 134px;
      background: #384ca3;
      margin: auto;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1; }
  .structure.structure6 {
    border: 1px solid #979797;
    background-color: #e6e7e9;
    color: #4a4a4a;
    width: 120px;
    font-size: 11px;
    font-weight: 600;
    line-height: 16px;
    padding: 10px 0;
    margin: 3px;
    position: relative; }
    .structure.structure6::before {
      position: absolute;
      content: "";
      width: 2px;
      height: 97px;
      background: #384ca3;
      margin: auto;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1; }
    .structure.structure6:first-child {
      margin-left: 0; }
    .structure.structure6:last-child {
      margin-right: 0; }

.structure5-col {
  position: relative;
  margin-left: -190px; }
  .structure5-col::before {
    position: absolute;
    content: "";
    height: 2px;
    background: #384ca3;
    top: -15px;
    width: 784px; }

.structure6-col {
  position: relative;
  width: 1135px;
  margin-left: -13px; }
  .structure6-col::before {
    position: absolute;
    content: "";
    height: 2px;
    background: #384ca3;
    top: -25px;
    width: 1008px; }

@media (max-width: 1199.98px) {
  .img-news-list {
    flex: 155px;
    max-width: 155px; }
  .organitation-container {
    overflow: auto; }
  .organitation {
    width: 1161px; }
  .structure6-col {
    margin-left: 13px; } }

@media (max-width: 991.98px) {
  header.desktop {
    display: none; }
  header.mobile {
    display: block; }
    header.mobile.ismobile .top-nav {
      background-color: #070d01;
      color: #fff;
      font-size: 14px; }
  .manbar {
    flex: 50px;
    max-width: 50px; }
  .bar-menu {
    background: #29166f;
    height: 79px;
    font-size: 32px;
    line-height: 78px;
    text-align: center;
    color: #fff;
    cursor: pointer; }
    .bar-menu.second {
      background: transparent;
      height: 30px;
      color: #000;
      font-size: 22px;
      line-height: 29px;
      text-align: center; }
  .nav-asd {
    display: block;
    background: #f2f2f2;
    padding-top: 6px;
    border-bottom: 1px #e6e7e9 solid;
    height: 50px; }
  .ismob {
    font-size: 27px; }
  .second-nav {
    padding: 10px 0;
    background: #f2f2f2; }
  .form-search {
    border: 1px solid #e6e7e9;
    border-right: 0; }
    .form-search::placeholder {
      color: #696969; }
  .input-group-text {
    background: #fff;
    color: #046789; }
  .left-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 0%;
    background: #29166f;
    z-index: 999;
    overflow: hidden;
    padding-left: 15px;
    padding-right: 15px;
    left: -90px;
    transition: all .3s; }
    .left-menu .bar-nav {
      border-bottom: 1px #ffffff1a solid;
      padding-top: 10px;
      padding-bottom: 15px; }
      .left-menu .bar-nav i {
        font-size: 30px;
        color: #fff; }
    .left-menu .nav-link {
      color: #fff;
      border-bottom: 1px #ffffff1a solid;
      padding-left: 0;
      padding-right: 0; }
      .left-menu .nav-link:hover {
        color: #ffb618; }
      .left-menu .nav-link.active {
        color: #ffb618; }
  .left-menu.active {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    background: #29166f;
    z-index: 999;
    overflow: hidden;
    padding-top: 15px;
    left: 0; }
  .maklumat .maklumat-cont {
    padding-left: 0; }
  .pengumuman .pengumuman-cont {
    width: 100%; }
  .swiper-button-next.arr-next.pen {
    right: 0; }
  .swiper-button-prev.arr-prev.pen {
    right: 25px; }
  .goverment-content {
    padding-top: 167px; }
  .goverment-content::before {
    height: 167px;
    background-size: contain; } }

@media (max-width: 802px) {
  .banner .content-slide {
    position: relative;
    top: 0;
    transform: initial;
    right: 0;
    width: 100%;
    height: auto;
    background: #29166f;
    padding: 45px;
    color: #fff;
    padding: 15px;
    padding-bottom: 29px; }
    .banner .content-slide h1 {
      font-size: 22px; }
  .banner-second .content-slide {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%; }
  .swiper-pagination.offpage {
    display: block; }
    .swiper-pagination.offpage .swiper-pagination-bullet {
      border-radius: 0;
      background: transparent;
      border: 1px #fff solid; }
      .swiper-pagination.offpage .swiper-pagination-bullet.swiper-pagination-bullet-active {
        background: #ffb618;
        border: 1px #ffb618 solid; }
  .swiper-pagination.offpage.iso {
    display: block; }
    .swiper-pagination.offpage.iso .swiper-pagination-bullet {
      background: transparent;
      border-radius: 100%;
      border: 1px #fff solid; }
      .swiper-pagination.offpage.iso .swiper-pagination-bullet.swiper-pagination-bullet-active {
        background: #fff;
        border: 1px #fff solid; }
  .banner-second .content-slide {
    padding: 15px;
    text-align: center; }
    .banner-second .content-slide h1 {
      font-size: 16px; }
    .banner-second .content-slide p {
      display: none; }
  .swiper-pagination.prim-page {
    display: none; } }

@media (max-width: 767.98px) {
  .img-news-list {
    flex: 150px;
    max-width: 150px; }
  .swiper-button-next.dirjen-next {
    right: 0; }
  .swiper-button-prev.dirjen-prev {
    left: 0; }
  .videos {
    display: none; }
  .video-mobile {
    display: block; }
  .m-hide {
    display: none !important; }
  .maklumat-i, .pnegi-i, .swiper-button-prev.asd-prev, .swiper-button-next.asd-next,
  .swiper-button-prev.infoa-prev, .swiper-button-next.infoa-next {
    display: none; }
  .mkluma .swiper-slide,
  .infoa .swiper-slide {
    padding-left: 0; }
  .dnger-ico {
    flex: 32px;
    max-width: 32px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    background: #cecece;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #fff; }
    .dnger-ico.maklumats {
      background-color: #f22d39; }
    .dnger-ico.infoas {
      background-color: #384ca3; }
  .mobile-ios {
    display: block; }
  .title {
    font-size: 24px; }
  .link-warning {
    font-size: 24px; } }

@media (max-width: 575.98px) {
  .top-nav {
    font-size: 10px; }
  .icon-medium {
    width: 15px;
    height: 15px; }
  .block {
    display: block; }
    .block a {
      margin-left: 0 !important;
      margin-top: 20px;
      padding-top: 10px;
      padding-bottom: 10px; }
  .prosedur-lst p, .news-list p {
    display: none; }
  .news-list a {
    color: #333333; }
  .news-list h3 {
    font-size: 16px; }
  .news-list .link-warning {
    display: none; }
  .news-contain .br-other {
    display: none; }
  .gallerys {
    display: none; }
  .gallery-mobile {
    display: block;
    position: relative; }
    .gallery-mobile p {
      position: absolute;
      bottom: 0;
      width: 100%;
      background-color: rgba(1, 0, 46, 0.7);
      margin-bottom: 0;
      padding: 10px;
      color: #fff;
      font-size: 12px; }
  .logo-desktop {
    display: none; }
  .logo-mobile {
    display: block;
    width: 250px;
    margin: auto; }
  .foocol {
    text-align: center !important;
    font-size: 16px; }
  .titleas .title-dash {
    width: 100%;
    margin: auto; }
  .gutter {
    margin-right: -10px;
    margin-left: -10px; }
  .gutter > .col, .gutter > [class*="col-"] {
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 20px; }
  .video-primary-title {
    display: block;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    margin-top: 15px; }
    .video-primary-title a {
      color: #000; }
      .video-primary-title a:hover {
        color: #29166f;
        text-decoration: none; }
  .video-content + .meta-news {
    display: none; }
    .video-content + .meta-news + p {
      display: none; }
  .md-text-center {
    text-align: center; } }
